.header-card{
    text-align: center;
}

.img-Writer{
    width:40%;
    border-radius:50%;
    text-align:center;
}
.btn-update{
    border: none;
    color: white;
    height: 40px;
    border-radius: 5px;
    width: 130px;
    background: #3b49df;
    &:hover{
        background: #323ebe;
    }
}