nav {
    height: 43px;
    display: flex;

    span {
      margin-right:10px;
      color:aquamarine;
      font-size: 1.2rem;
      color: black;
      

      
      align-items: center;
      
    }
    span:hover {
      
      color: #323ebe;
    }
}