.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


// Style Card
.div-head {
  display: flex;
  align-items: center;

  
  .info-card {
    display: flex;
    flex-direction: column;
    .name-profile {
      text-decoration: none;
      color: slategray;
      font-weight: 600;
    }
    span {
      color: slategray;
      font-size: small;
    }
  }
}
.container-card {
  margin-left: 35px;
  .sub-title {
    margin-top: 15px;

    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      color: #323ebe;
    }
  }
  .tags {
    display: flex;
    align-items: center;
    
    height: 40px;
    color: black;

    a {
      display: flex;

      align-items: center;
      text-decoration: none;
      color: slategray;
      height: 30px;
      cursor: pointer;
    }
    a:hover {
      background: rgb(231, 231, 231);
      border: solid 0.1px rgb(175, 175, 175);
      border-radius: 5px;
      color: black;
    }
  }

  .card-img {
  }
  .footer-card {
    display: flex;
    justify-content: space-between;

    .fot-card-left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 220px;

      a {
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        color: slategray;
        height: 36px;
        width: 150px;
      }
      a:hover {
        background-color: rgb(231, 231, 231);
        border-radius: 5px;
      }
    }
    .fot-card-#{right} {
      display: flex;
      align-items: center;
      gap: 15px;
      span {
        color: slategray;
        font-size: smaller;
      }
      .btn-save {
        height: 36px;
        width: 100px;
        border: none;
        background: #bdbdbd;
        color: rgb(10, 10, 10);
        border-radius: 5px;
      }
      .btn-save:hover {
        background-color: #9b9b9b;
      }
    }
  }
}
.img-profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
// Style Card